/SendLocalMessage/obj/x64/Debug
/.vs/SendLocalMessage/v17
/SendLocalMessage/obj/Debug
/SendLocalMessage/obj/Release
/SendLocalMessage/bin/x64/Release
/.vs/SendLocalMessage/FileContentIndex
*.sqlite
*.json
*.cs
*.cache
*.Up2Date
*.resources
*.pdb
*.baml
*.lref
*.txt
/SendLocalMessage/obj/x64/Release
